<% layout("/layouts/boilerplate") -%>
    <div class="row">
        <div class="col-8 offset-2">
            <br/><br/>
<h3>Create New List</h3>
    <form method="post" action="/lists" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="list[title]" placeholder="enter title" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <br/><br/>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="list[description]" placeholder="enter description" class="form-control" required></textarea>
        </div>
        <br/><br/>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="list[image]" placeholder="enter image url" type="text" class="form-control">
        </div>
        <br/><br/>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="list[price]" placeholder="enter price" type="number" class="form-control" required>
            </div>
            <br/><br/>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="list[country]" placeholder="enter country" type="text" class="form-control" required>
            </div>
            <br/><br/>
       </div>
        <br/><br/>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="list[location]" placeholder="enter location" type="text" class="form-control" required>
        </div>
        <br/><br/>
        <button class="btn btn-dark add-btn">Add</button>
        <br/><br/>
    </form>
    </div>
    </div>
   